
<app-biography></app-biography>


<h2>Наше время</h2>

<h3>Технологии которые мне интересны:</h3>

<ul>
  <li *ngFor="let item of technologies">{{item}}</li>
</ul>
<div class="for_inp_data">
    <h4>Добавить технологию</h4>
  <input type="text" [(ngModel)]="inputTechnologiesValue">
  <button type="button" (click)="addTechnologies()">Добавить</button>
</div>

<h3>Мои интересы:</h3>

<ul>
  <li *ngFor="let item of interests">{{item}}</li>
</ul>
<div class="for_inp_data">
  <h4>Добавить интерес</h4>
  <input type="text">
  <button type="button">Добавить</button>
</div>

<h2>Контакты</h2>

<h3>E-mail:</h3>

<p>
  vladsham2470@yandex.ru
</p>
