<h2>Биография</h2>

<p>
  Родился в 1970 году в городе Красноярске.<br>
  Ходил в детский садик, с 1977 по 1987 учился в школе №56.<br>
  В 1922 году окончил Красноярский Государственный Университет, специальность - физик.<br>
  С 1993 года по 2000й пытался постичь чань и боевое исскуство монахов Шаолиня.<br>
  В 2004 году прошёл курсы вёрстки HTML CSS и устроился верстальщиком в фирму "Графикс".<br>
  По мере надобности изучал JavaScript и jQuery.<br>
  C 2015 по 2017 "WARFACE" захватил мой разум, а потом отпустил (наверное потому что я не был в армии :-) ).
</p>
