.aphorism_container {
  height: 200px;
  background: cornsilk;
  border: 1px solid #2a2a2a;
  position: relative;
}

.aphorism_body {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #262626;
}

.aphorism_timer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #262626;
}

.aphorism_timer span.nambe {
  font-size: 24px;
}
