
<div class="container">
  <!-- HEADER  -->
  <header>
    <app-logo></app-logo>
  </header>
  <!-- HEADER END -->
  <!-- MIDDLE -->
  <div class="middle">

    <app-myname></app-myname>


    <div class="middle_block">

      <div class="middle_left">
        <img src="assets/images/my_foto.jpg" class="my_foto">

        <app-aphorism></app-aphorism>

      </div>

      <div class="middle_center">

        <div class="content">
          <app-content></app-content>


        </div>

      </div>
      <div class="middle_right">

        <h2>Тут будет что нибудь</h2>

      </div>

    </div>

  </div>
  <!-- /MIDDLE -->
  <!--FOOTER-->
  <footer>
    &copy; 2018.  <span itemprop="name">Vlad production :-)</span>
  </footer>
  <!--/FOOTER конец-->

</div>



